<!doctype html>
<html class="no-js" ng-app="CardGame">
	<head>

		<title>Card Game: Black Jack</title>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,greek,vietnamese,cyrillic' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- AngularJS main code -->
		<script src="./js/angularjs.all.js?<%= buildLabel %>"></script>

		<!-- AngularJS css style -->
		<link rel="stylesheet" href="./css/angularjs.css?<%= buildLabel %>">

	</head>
	<body ng-controller="MainController as body">
		<div ui-view class="container"></div>
	</body>
</html>
