<div class="blackjack">
	<div class="blackjack-board">
		<div 	class="board-player player {{player === ctrl.currentPlayer ? 'current-player' : ''}} {{player.blackjack ? 'pl-blackjack' : ''}}"
				ng-repeat="player in ctrl.players">
			<div>{{::player.name}} - score: {{player.score}}</div>
			<div>
				<span ng-if="player.blackjack">BlackJack!!</span>
				<span ng-if="player.busted">Busted!!</span>
				<span ng-if="player.wins && ctrl.ended">Beats the Dealer!!</span>
				<span ng-if="!player.busted && player.tie && ctrl.ended">It's a tie!!</span>
				<span ng-if="!player.busted && !player.wins && !player.tie && ctrl.ended">Lost!!</span>
			</div>
			<div class="player-cards">
				<div ng-repeat="card in player.cards" class="card {{::card.class()}}"></div>
			</div>
		</div>
		<div 	class="board-player dealer {{ctrl.dealer === ctrl.currentPlayer ? 'current-player' : ''}} {{player.blackjack ? 'pl-blackjack' : ''}}"
				ng-if="ctrl.dealer">
			<div>{{::ctrl.dealer.name}} - score: {{ctrl.dealer.score}}</div>
			<div>
				<span ng-if="ctrl.dealer.blackjack">BlackJack!!</span>
				<span ng-if="ctrl.dealer.busted">Busted!!</span>
			</div>
			<div class="player-cards">
				<div ng-repeat="card in ctrl.dealer.cards" class="card {{::card.class()}}"></div>
			</div>
		</div>
	</div>
	<div class="actions" ng-if="ctrl.currentPlayer">
		<button class="btn back"
				ng-click="ctrl.goto('initial')">
			<i class="mdi mdi-arrow-left-bold"></i> Back
		</button>
		<button class="btn stick"
				ng-if="ctrl.started && !ctrl.ended"
				ng-disabled="!ctrl.canPlay()"
				ng-click="ctrl.stick(ctrl.currentPlayer)">
			<i class="mdi mdi-pause"></i> Stick
		</button>
		<button class="btn hit"
				ng-if="ctrl.started && !ctrl.ended"
				ng-disabled="!ctrl.canPlay()"
				ng-click="ctrl.hit(ctrl.currentPlayer)">
			<i class="mdi mdi-library-plus"></i> Hit
		</button>
		<button class="btn restart"
				ng-if="ctrl.ended"
				ng-click="ctrl.restart()">
			<i class="mdi mdi-refresh"></i> Restart
		</button>
	</div>
	<div class="init-game-mask" ng-if="!ctrl.started"></div>
	<md-card class="init-game" ng-if="!ctrl.started">
		<md-card-content>
			<h2>Players</h2>
			<div>
				<h3>Add a player</h3>
				<div ng-if="ctrl.canAddMorePlayers()">
					<md-input-container class="new-player">
						<input 	type="text"
								ng-model="ctrl.newPlayerName"
								required
								md-maxlength="10"
								placeholder="Player Name">
					</md-input-container>
					<md-button 	class="new-player-button"
								ng-click="ctrl.addPlayer()"
								ng-disabled="!ctrl.newPlayerName">
						<i class="mdi mdi-plus"></i>
					</md-button>
				</div>
				<div ng-if="!ctrl.canAddMorePlayers()">You added the maximum number of players</div>
			</div>
			<div>
				<h3>Player list</h3>
				<div class="player-list">
					<div ng-if="ctrl.players.length > 0" ng-repeat="player in ctrl.players">
						<md-button ng-click="ctrl.removePlayer(player)">
							<i class="mdi mdi-delete"></i>
						</md-button>
						<span>{{::player.name}}</span>
					</div>
					<div ng-if="ctrl.players.length === 0" class="mute">None</div>
				</div>
			</div>
		</md-card-content>
		<md-card-footer>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="ctrl.goto('initial')"><i class="mdi mdi-arrow-left-bold"></i> Back</md-button>
				<md-button ng-click="ctrl.start()" ng-if="!ctrl.started" ng-disabled="ctrl.players.length === 0"><i class="mdi mdi-arrow-right-bold"></i> Start</md-button>
			</md-card-actions>
		</md-card-footer>
	</md-card>
</div>